
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --color-tan: #e5e5e5;
  --color-gray: #737a7d;
  --color-dark-blue: #72bfd7;
  --color-light-blue: #b3e4e7;
  --color-black: #091f29;
  --color-green: #344317;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

table {
  table-layout: fixed;
  width: clamp(400px, 70%, 800px);
  border-collapse: collapse;
  position: relative;
}

caption {
  color: var(--color-black);
}

thead {
  background-color: var(--color-dark-blue);
}

tfoot {
  background-color: var(--color-light-blue);
}

thead th:nth-child(1) {
  width: 35%;
}

thead th:nth-child(2) {
  width: 35%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 15%;
}

tbody,
tfoot td
{
  text-align: center;
}

tbody tr:nth-child(2n) {
  background-color: var(--color-tan);
}

th,
td {
  padding: 20px;
}

tfoot th{
  text-align: end;
}

/* top-left border-radius */
table thead th:first-child {
  border-top-left-radius: 14px;
}

/* top-right border-radius */
table thead th:last-child {
  border-top-right-radius: 14px;
}

/* bottom-left border-radius */
table tfoot th {
  border-bottom-left-radius: 14px;
}

/* bottom-right border-radius */
table tfoot td:last-child {
  border-bottom-right-radius: 14px;
}

.add-book {
  display: flex;
  gap: 10px;
}

.add-book button {
  width: 8rem;
  height: 3rem;
  background-color: var(--color-dark-blue);
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-weight: bold;
}

.add-button {
  margin-right: 392px;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* visibility: hidden; */
  /* width: 0;
  opacity: 0;
  transform: opacity 2s 3s;
  transition: width 3s ; */
  max-width: 0;
  overflow: hidden;
  transition: max-width 3s ease-out;
}

.form-row {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-row label {
  width: 10ch;
  text-align: right;
}

.form-row input[type='text'],
.form-row > div {
  display: flex;
  width: 30ch;
}

label[for='checkbox'] {
  margin-left: 2rem;
}

.add-book form button {
 background-color: var(--color-green);
 color: var(--color-tan);
}
